/***************************
****************************
Base Elements
****************************
***************************/

* {
    font-family: 'Merriweather', serif;
}

/* The Code Review*/

#header-title {
    margin: .25em 0;
    margin-top: 0;
    background-color: #2d3944;
    color: white;
    padding: .5em;
    text-align: center;
}

/* Sign up for our news letter */

.beneath-header-container {
    padding: .25em .5em 0em .5em;
    margin: auto;
    text-align: center;
}

.beneath-header-container p {
    color: grey;
}

h2 {
    font-weight: bolder;
    color: #2d3944;
}

p {
    color: #2d3944;
    opacity: 0.5;
}


/* Dividing Line <hr> */

hr {
    display: block;
    width: 100%;
    margin: auto;
}

.one {
    border: none;
    height: .30em;
    background-color: black;
    margin: .05em auto;
    width: 95%;
}

.two {
    border: none;
    height: .15em;
    background-color: black;
    margin-top: .2em;
    margin-bottom: 2em;
    width: 95%;
}

/* Form Section */

#contact,
#newsletter {
    border: none;
    width: 95%;
    margin: auto;
}

legend {
    font-size: 1.25em;
    margin: 0 0 .75em 0;
    font-weight: bold;
}

label {
    color: black;
    opacity: 0.5;
    font-weight: bold;
    /*margin-left: .5em;*/
}

label.why {
  display: inline-block;
  padding: 0.5em 0;
}

input[type="text"]:nth-of-type(1n+1),
input[type="email"],
input[type="tel"],
select[name="State"] {
    background: #f5f5f5;
    padding: 1.25em 0em;
    border-radius: .25em;
    border: none;
    display: block;
    margin: 1.25em 0;
    width: 100%;
    outline: black;
}

#name::-webkit-input-placeholder,
#email::-webkit-input-placeholder {
    text-align: right;
    padding-right: .5em;
    font-style: italic;
    font-family: merriweather;
}

select:hover,
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}

#textarea:focus {
    outline: none;
    border: .15em solid red;
    transition: background-color 0.5s ease;
    background-color: darkgray;
    text-indent: 15em;
}

select:first-child {
    color: darkgray;
}


.styled-select select {
    height: 4em;
    background-image: url(../32195.png);

}

#textarea {
    background-color: #f5f5f5;
    display: block;
    width: 100%;
    height: 5em;
    border: none;
    border-radius: 10px;
    margin: auto;
    text-indent: inherit;
}

#zipcode {
    width: 30%;
}

#submit {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 1em;
    padding: .75em;
    font-size: 1.25em;
    font-weight: bold;
    background-color: #5F9EA0;
    color: white;
    border-radius: .5em;
    border: none;

}

footer {
    text-align: center;
    margin: auto;
    font-style: italic;
    font-size: .75em;
}

/***************************
****************************
Desktop/tablet Viewport
****************************
***************************/

@media (min-width: 760px) {

    #contact,
    #newsletter {
        width: 60%;
        margin: auto;
    }

    .one,
    .two {
        width: 60%;
    }

    fieldset#contact label {
        display: inline-block;
        width: 30%;
    }

    fieldset#contact input[type="text"],
    fieldset#contact input[type="email"],
    fieldset#contact input[type="tel"]   {
        display: inline-block;
        width: 68%;
    }

        .styled-select {
            display: inline-block;
            width: 68%;

        }

    fieldset#contact input[type="text"]#zipcode {
        display: inline-block;
        width: 30%;
    }

    fieldset#newsletter textarea[type="text"] {
        width: 100%;
        padding: 0;
    }

    #submit {
        width: 100%;
    }


}


/***************************
****************************
.Form = container on the form element, set to 95% width
...why then do the child elements, label & input, not fit
on the line when the sum of their assigned widths (initially, 30
and 70% respectively) equals 100%?
They are currently set to 30 and 68%.

****************************
***************************/
